:root{
    --primary-color: #c05846;
}




body{
    box-sizing: border-box;
    margin: 0;
    font-family: "Inknut Antiqua", sans-serif;
}

.logo{
    max-width: 6rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book{
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    font-family: "inknut antiqua", sans-serif;
    font-size: 12px;
}

.menu{
    background-color: transparent;
    border: none;
    font-size: 30px;
    margin-right: 5px;
}